// Header styles
header > nav, ul, h1 {
	margin: 0;
	padding: 0;
}

header > div,
header nav,
header div h1 {
	display: inline-block;
	vertical-align: middle;
}

header {
	display: block;
	background-color: $slateGray;
	text-align: justify;
	height: 2em;
	padding: 2em 0;

	h1 {
		font-family: 'quicksand';
		height: 100%;
		font-size: 1.8rem;
		a {
			text-decoration: none;
			color: white;
		}
		a:visited {
		  color: white;
		}
	}
	h1::before{
		content: '';
		vertical-align: middle;
		height: 100%;
	}
	nav {
		ul {
			li {
				display: inline;
				margin: 0 2rem;
				a {
					color: white;
					text-decoration: none;
					font-family: 'quicksand', sans-serif;
				}
				&:visited {
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
header::after {
	content: '';
	display: inline-block;
	width: 100%;
}
header > div {
	width: 35%;
	height: 100%;
	text-align: left;
}
header > div::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

// responsive header styles 
@media screen and (max-width: 720px){

		header {
			height: auto;
		}
		header > div,
		header > div h1,
		header nav {
			height: auto;
			width: auto;
			display: block;
			text-align: center;
		}
}
